.navbar-brand img {
  width: 40px;
  height: 40px;
  margin-left: 1rem;
  border-radius: 50%;
}

.navbar-brand-lg {
  display: none;
}

.navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .navbar-toggler {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand-sm {
    display: none;
  }

  .navbar-brand-lg {
    display: inline-block;
    margin-left: auto;
  }

}
