h3 {
  font-size: 1.2rem;
  margin-bottom: .25rem;
}

.profile form {
  margin: 0 auto;
}

form {
  max-width: 500px;
}

.update{
  text-align: center;
}

.data {
  padding: 2rem;
  border: 1px solid rgba(50,50,50,0.2);
  border-radius: 4px;
}