h3 {
  font-size: 1.2rem;
  margin-bottom: .25rem;
}

.profile form {
  margin: 0 auto;
}

form {
  max-width: 500px;
}

.update{
  text-align: center;
}

.data {
  padding: 2rem 3rem;
  border: 1px solid rgba(50,50,50,0.2);
  border-radius: 4px;
}

.data-container p {
  margin-bottom: .15rem;
}

.data-container .indented {
  margin-left: 1rem;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}