<div class="container">
    <div class="jumbotron text-center">
      <h1 class="mb-4">Your Profile</h1>
      <p><em>Updated profile model data is sent in JSON format to mock server to update db</em></p>
    </div>
    <div class="profile-wrapper container">
      <div class="row">

        <div class="col-md-6 mb-3">
            <div class="profile">
              <form [formGroup]="profileForm" class="mb-4">

                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="firstName" required>
                </div>
                <div [hidden]="profileForm.controls['firstName'].valid || profileForm.controls['firstName'].pristine"
                  class="alert alert-danger">
                  First Name is required
                </div>

                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control" id="lastName" required>
                </div>
                <div [hidden]="profileForm.controls['lastName'].valid || profileForm.controls['lastName'].pristine"
                  class="alert alert-danger">
                  Last Name is required
                </div>

                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" formControlName="username" class="form-control" id="username" required>
                </div>
                <div [hidden]="profileForm.controls['username'].valid || profileForm.controls['username'].pristine"
                  class="alert alert-danger">
                  Username is required
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="password" required>
                </div>
                <div [hidden]="profileForm.controls['password'].valid || profileForm.controls['password'].pristine"
                  class="alert alert-danger">
                  Password is required
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="email" required email>
                </div>
                <div *ngIf="profileForm.controls['email'].invalid && !profileForm.controls['email'].pristine" class="error-msg">
                  <div [hidden]="!profileForm.controls['email'].errors.required"
                    class="alert alert-danger">
                    Email is required
                  </div>
                  <div [hidden]="!profileForm.controls['email'].errors.patternInvalid"
                    class="alert alert-danger">
                    Email is invalid
                  </div>
                </div>

                <div class="form-group">
                  <label for="zip">Zip Code</label>
                  <input type="text" formControlName="zip" class="form-control" id="zip" >
                </div>

              </form>
              
              <div class="update">
                <button [disabled]="!profileForm.valid" 
                  data-toggle="modal" data-target="#modal" type="button" class="btn btn-outline-primary" (click)="updateProfile()">Update Your Profile</button>
              </div>
            </div>
        </div>

        <div class="data col-md-6">
          <h3 class="text-center mb-4">---- JSON Data ----</h3>
          <div *ngIf="mockJsonData" class="data-container">
            <p>{{ '{' }}</p>
            <p><span class="indented">"firstName": </span><span>"{{ mockJsonData.firstName }}",</span></p>
            <p><span class="indented">"lastName": </span><span>"{{ mockJsonData.lastName }}",</span></p>
            <p><span class="indented">"username": </span><span>"{{ mockJsonData.username }}",</span></p>
            <p><span class="indented">"password": </span><span>"{{ mockJsonData.password }}",</span></p>
            <p><span class="indented">"email": </span><span>"{{ mockJsonData.email }}",</span></p>
            <p><span class="indented">"zip": </span><span>"{{ mockJsonData.zip }}"</span></p>
            <p>{{ '}' }}</p>
          </div>
        </div>
  
    </div>
  </div>

  <app-modal></app-modal>