<div class="jumbotron text-center">
  <h1>TTS Angular Project</h1>
  <p class="lead">A simple Angular app built using</p>
  <p class="lead mb-3">routing, services, dependency injection, observables, forms and animation.</p>
  <p>
    <a href="https://github.com/jordanmor/tts-portfolio-links">TTS Portfolio</a> | 
    <a href="https://github.com/jordanmor/tts-angular-project">Angular Project GitHub Repo</a> | 
    <a href="https://www.jordanmor.com">www.jordanmor.com</a>
  </p>
</div>
<div class="card-deck">
  <a class="card" routerLink="{{ project.link }}" *ngFor="let project of projects">
    <div class="card-body">
      <h5 class="card-title">{{ project.title }}</h5>
      <p class="card-text">{{ project.description }}</p>
    </div>
  </a>
</div>